{{ define "main" }}
	<h1>{{ .Title }}</h1>
  {{ .Content }}

	<table class="table table-striped table-sm table-bordered">
		<thead>
		<tr>
			<th>Strategy</th>
			<th>Description</th>
{{/*			<th>GitHub Issue</th>*/}}
		</tr>
		</thead>
		<tbody>
    {{ range .Data.Pages.ByWeight }}
			<tr>
				<td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
				<td>
						{{ .Description | markdownify }}
            {{ if .Draft }}
							<span class="badge rounded-pill text-bg-danger">Draft</span>
            {{ end}}
				</td>
{{/*				<td>*/}}
{{/*					<a href="{{ .Params.github_issue }}">Read/Comment on GitHub issue</a>*/}}
{{/*				</td>*/}}
			</tr>
    {{ end }}
		</tbody>
	</table>

{{ end }}