{{ define "main" }}
    {{ $repositoryResources := .Resources.Match "repositories/*.md" }}
    {{ $toolResources := slice}}
    {{ range .Params.tools}}
        {{ $toolPage := site.GetPage (printf "tools/%s.md" .) }}
        {{ if $toolPage }}
            {{ $toolResources = $toolResources | append $toolPage }}
        {{ end }}
    {{ end}}

		<h1>{{ .Title }}</h1>
    {{ .Content}}
			<p>
				<a href="{{ .Params.github_issue }}">Read (or add) comments on the GitHub issue for this strategy.</a>
			</p>
		<div class="row">
        {{ with $toolResources }}
					<div class="col">
						<h2 id="tool-specific-notes" class="strategy-resource-column">Examples of Tools Supporting this Strategy</h2>
              {{ range . }}
								<h3 id="{{ .File.BaseFileName }}">
										{{ .Title }}
									<a href="{{ .Params.source }}"><i class="bi bi-arrow-up-right-square"></i></a>
								</h3>
                {{ .Content }}
								<hr/>
              {{ end }}
					</div>
        {{ end }}
        {{ with $repositoryResources }}
					<div class="col">
						<h2 id="repository-specific-notes" class="strategy-resource-column">Repository-specific Guidance</h2>
              {{ range . }}
								<h3 id="{{ .File.BaseFileName }}">{{ .Title }}</h3>
                {{ .Content }}
              {{ end }}
					</div>
        {{ end }}
		</div>


{{ end }}