{{ define "main" }}
	<h1>{{ .Title }}</h1>
  {{ .Content }}
	<br/>
	<div class="row">
      {{ $process_page := site.GetPage (printf "process/_index.md") }}
      {{ range $process_page.Data.Pages }}
          {{ $strategies := partial "strategies_for_process_phase.html" . }}
					<div class="col">
						<h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
						<p>
                {{ .Description | markdownify }}
							(<a href="{{ .Permalink }}">Read more</a>)
						</p>
              {{ with $strategies }}
								<b>Available Strategies</b>
								<ul>
                    {{ range .ByWeight }}
											<li>
												<a href="{{ .Permalink }}">{{ .Title }}</a>
											</li>
                    {{ end }}
								</ul>
              {{ end }}
					</div>
      {{ end }}
	</div>
{{ end }}