{{ define "main" }}
	<h1>{{ .Title }}</h1>
  {{ .Content }}
{{/*  	<div class="row">*/}}
{{/*        {{ range .Sections.ByWeight }}*/}}
{{/*  				<div class="col-md-4">*/}}
{{/*  					<div class="card">*/}}
{{/*  						<div class="card-header">*/}}
{{/*  							<h5><a href="{{ .Permalink }}">{{ .Title }}</a></h5>*/}}
{{/*  						</div>*/}}
{{/*  						<div class="card-body">*/}}
{{/*  							{{ .Description | markdownify }}*/}}
{{/*                <div class="card-read-more">*/}}
{{/*                  <a href="{{ .Permalink }}">Read more...</a>*/}}
{{/*                </div>*/}}
{{/*  						</div>*/}}
{{/*  					</div>*/}}
{{/*  				</div>*/}}
{{/*        {{ end }}*/}}
{{/*  	</div>*/}}
{{ end }}