{{ define "main" }}
	<h1>{{ .Title }}</h1>
  {{ .Content }}
{{/*  {{ .TableOfContents }}*/}}



  {{- with  site.Menus.document }}
  	{{- partial "document_menu_page" (dict "page" page "menuEntries" . ) }}
  {{ end }}




{{/*  	<div class="row">*/}}
{{/*  		<div class="col-md-2">*/}}
{{/*          {{- with  site.Menus.document }}*/}}
{{/*  					<nav>*/}}
{{/*  						<ul>*/}}
{{/*                  {{- partial "document_menu" (dict "page" page "menuEntries" . ) }}*/}}
{{/*  						</ul>*/}}
{{/*  					</nav>*/}}
{{/*          {{ end }}*/}}
{{/*  		</div>*/}}
{{/*  		<div class="col-md-10">*/}}
{{/*          {{- with  site.Menus.document }}*/}}
{{/*                    {{- range . }}*/}}
{{/*                        {{ with (site.GetPage .Page.Title) }}*/}}
{{/*                            {{ .Title }}*/}}
{{/*                        {{ end }}*/}}
{{/*                    {{ end }}*/}}
{{/*              {{- partial "document_menu_page" (dict "page" page "menuEntries" . ) }}*/}}
{{/*          {{ end }}*/}}
{{/*  		</div>*/}}
{{/*  	</div>*/}}

{{ end }}