{{ define "main" }}
	<h1>{{ .Title }}</h1>



	<table class="invisible-layout-table">
		<tr>
			<td class="field-name">Homepage</td>
			<td><a href="{{ .Params.homepage }}">{{ .Params.homepage }}</a></td>
		</tr>
		<tr>
			<td class="field-name">Current Version</td>
			<td>{{ .Params.current_stable_version }}</td>
		</tr>
	</table>
			<br/>

  {{ .Content }}
  {{ with .Resources.Match "*.md" }}
		<h2>Tools/Strategies</h2>
    {{ range . }}
			<h3><a id="{{ .File.BaseFileName }}">{{ .Title }}</a></h3>
      {{ .Content | markdownify }}
    {{ end }}
  {{ end }}
{{ end }}