{{- with index site.Data.repositories (.Get 0) }}
	<div class="repository-metadata">
		{{ with .current_stable_version }}
			Current stable version: {{ . }}
			&nbsp;&nbsp;|&nbsp;&nbsp;
		{{ end }}
		{{ with .homepage }}
			<a href="{{ . }}">Homepage</a>
			&nbsp;&nbsp;|&nbsp;&nbsp;
		{{ end }}
		{{ with .support }}
			<a href="{{ . }}">Support</a>
			&nbsp;&nbsp;|&nbsp;&nbsp;
		{{ end }}
	</div>
{{/*	<div class="row">*/}}
{{/*		<div class="col">*/}}
{{/*			Current stable version: {{ .current_stable_version }}*/}}
{{/*		</div>*/}}
{{/*		<div class="col">*/}}
{{/*			<a href="{{ .homepage }}">Homepage</a>*/}}
{{/*		</div>*/}}
{{/*	</div>*/}}
{{- end -}}

