<div class="row">
    {{ range .Data.Pages }}
        {{ $processPhasePage := .}}
        {{ $strategies := $processPhasePage.Params.strategies }}
				<div class="col">
					<h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
					<p>
              {{ .Description | markdownify }}
						(<a href="{{ .Permalink }}">Read more</a>)
					</p>
            {{ with $strategies }}
							<b>Available Strategies</b>
							<ul class="strategies-in-context">
                  {{ range $strategy := sort . "order"}}
                      {{ $strategy_page := site.GetPage (printf "strategies/%s/index.md" $strategy.id ) }}
											<li>
												<a href="{{ $strategy_page.Permalink }}">{{ $strategy_page.Title }}</a>
                          {{ if $strategy_page.Draft }}
														<span class="badge rounded-pill text-bg-danger">Draft</span>
                          {{ end}}
												<p>{{ $strategy.description }}</p>
											</li>
                  {{ end }}
							</ul>
            {{ end }}
				</div>
    {{ end }}
</div>

