{{ $fullContent := .fullContent}}
{{ with .page }}

    {{ $recommendedTools := slice}}
    {{ $notRecommendedTools := slice}}
    {{ with .Params.tools }}
        {{ range . }}
            {{ $tool_page := site.GetPage (printf "tools/%s/index.md" .) }}
            {{ with $tool_page }}
                {{ if .Params.recommended }}
                    {{ $recommendedTools = $recommendedTools | append $tool_page }}
                {{ else }}
                    {{ $notRecommendedTools = $notRecommendedTools | append $tool_page }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}



		<div class="row">
			<div class="col-md-9">
          {{ if $fullContent }}
              {{ .Content }}
          {{ else }}
              {{ .Description | markdownify }}
          {{ end }}
			</div>
			<div class="col-md-3">
				<div class="tools-callout">
            {{ with $recommendedTools }}
							<h4>Recommended  Tools</h4>
							<ul>
                  {{ range . }}
										<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                  {{ end }}
							</ul>
            {{ end }}
				</div>
			</div>
		</div>
{{ end }}