<h3>{{ title .phase }}</h3>
{{ $processPhasePage := site.GetPage (printf "/process/%s/index.md" .phase) }}
<ol>
    {{ range index .page.Params.steps .phase }}
        {{ $phase := .}}
        {{ $strategyPage := site.GetPage (printf "strategies/%s/index.md" .) }}
        {{ with $strategyPage }}
					<li>
              {{ (index $processPhasePage.Params.strategies $phase).description | markdownify }} (<a href="{{ $strategyPage.Permalink }}">read more</a>)
              {{ if $strategyPage.Draft }}
								<span class="badge rounded-pill text-bg-danger">Draft</span>
              {{ end}}
					</li>
        {{ end }}
    {{ end }}
</ol>
