{{ define "main" }}
	<h1>{{ .Title }}</h1>
  {{ .Content }}
	<h2>Recommended Tools and Strategies</h2>
	<ul>
      {{ range where .Data.Pages "Params.recommended" true }}
				<li>
					<a href="{{ .Permalink }}">{{ .Title }}</a><br/>
					<!-- 						{{ .Description }} -->
				</li>
      {{ end }}
	</ul>

	<br/>
	<h2>Tools and Strategies which are NOT recommended</h2>
	<ul>
      {{ range where .Data.Pages "Params.recommended" false }}
				<li><a href="{{ .Permalink }}">{{ .Title }}</a>&nbsp;&nbsp;<span class="badge text-bg-danger inline-badge">Not Recommended</span></li>
      {{ end }}
	</ul>
{{ end }}