{{ define "main" }}
    {{ $repositoryResources := .RegularPages }}
		<div class="text-end">
        {{ if .Params.recommended }}
					<span class="badge text-bg-success header-badge">Recommended</span>
        {{ else }}
					<span class="badge text-bg-danger header-badge">Not Recommended</span>
        {{ end }}
		</div>

		<h1>{{ .Title }}</h1>

    {{ .Content }}
    {{ with $repositoryResources }}
			<h2 id="repository-specific-notes">Repository-Specific Notes</h2>
      {{ $array := slice}}
      {{ range . }}
          {{ $array = $array | append (print "<a href='#" .File.BaseFileName "'>" (.Title) "</a>")}}
      {{ end }}
					Jump down to:
      {{ delimit $array ", " | markdownify }}
					<br/>
					<br/>
      {{ range . }}
				<h3 id="{{ .File.BaseFileName }}">{{ .Title }}</h3>
        {{ .Content }}
      {{ end }}

    {{ end }}
{{ end }}