@import 'variables';

blockquote {
  font-style: italic;
  padding: 10px;
  border-left: 4px solid;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
}

span.alert-title {
    font-weight: bold;
    font-size: 1.0em;
}

div.alert {
  //padding-top: 0;
  padding-bottom: 0;
}