@import 'variables';

div#site-header {
  border-bottom: 0.5px solid #666666;
  margin-bottom: 20px;
  vertical-align: center;
}

div#header-col-left {
  display: flex;
  align-items: center;
}

div#header-col-right {
  display: flex;
  justify-content: end;
  align-items: center;
}

span#site-title {
  font-size: 2.0em;
}

span#site-title a {
  color: $heading-text-color;
  text-decoration: none;
}

#header-icon-bar {
  text-align: right;
}

a.site-header-link, a.site-header-link:visited {
  color: $navbar-link-color;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  margin-right: 5px;
}

a.site-header-link:hover {
  text-decoration: none;
}

div#footer {
  margin-bottom: 0px;
  font-size: small;
  border-top: 1px solid #666666;
  padding-top: 10px;
  text-align: right;
  margin-top: 40px;
}

nav#breadcrumbs {
  //padding-top: 5px;
  //background-color: red;
  font-size: 0.8em;
}

div#site-header-message {
  //color: black;
}

div#context-badge-header {
  display: flex;
  justify-content: end;
  //margin-bottom: 10px;
}

span.context-badge-header-badge {
  //margin-left: 5px;
}