{{ define "main" }}
	<h1>{{ .Title }}</h1>
  {{ .Content }}

	<br/>
	<div class="row">
      {{ range .Data.Pages }}
				<div class="col">
					<h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
            {{ .Description | markdownify }}
					(<a href="{{ .Permalink }}">Read more</a>)
            {{/*					<div class="text-end"><a href="{{ .Permalink }}">Read more!</a></div>*/}}
					<br/>
					<br/>
					Tools which are <b>recommended</b> and relevant to this phase include:
            {{ with .Params.tools }}
							<ul>
                  {{ range . }}
                      {{ $tool_page := site.GetPage (printf "tools/%s/index.md" .) }}
                      {{ with $tool_page }}
                          {{ if .Params.recommended }}
														<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                          {{ end}}
                      {{ end }}
                  {{ end }}
							</ul>
            {{ end }}

				</div>
      {{ end }}
	</div>

{{ end }}